<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Lone Star Funds |Lone Star Funds </title>
    
    <link rel="shortcut icon" href="http://www.lonestarfunds.com/wp-content/themes/lonestarfunds/_ui/images/common/favicon.ico">
    
    <%= stylesheet_link_tag "app" %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= javascript_include_tag  "main" %>
    
  </head>
  
  <body class="<%= page_classes %>">
    <div class="head-img"></div>
<div class="main">
	<header>
	  <div class="header-outer">
	  	<div class="header-inner">
		<div class="site-logo">
    		<a href="/"><img src="../images/common/lsf-logo.png" /></a>      
		</div> 
		<div class="menu-link"><a class="active" href="#menu">MENU</a></div>
		<nav id="menu" class="menu active">
			<ul>
				<% data.nav.links.each do |links| %>
					<li class="<% if links.sub_menu %>has-submenu<% end %> <% if links.is_last %>blue-bar<% end %>">
						<%=link_to links.name,links.link%>
						<% if links.sub_menu %>
							<ul class="sub-menu">
								<% links.sub_menu.each do |sub_link| %>
									<li>   
 										<%=link_to sub_link.name,sub_link.link%>
									</li>
								<% end %>
							</ul>
						<% end %>
					</li>
				<% end %>
			</ul>
		</nav>
	   </div>	
	   </div>
	</header>
	<section class="main_content" role="main">
			<%=yield%>
		</section>
	<footer>
	<div>
		<div class="explore">
			<a href="http://www.lonestarfunds.com/contact-us/global-offices/" >Explore Our Locations Worldwide</a>
		</div>
		<nav class="quick-links-menu">
		<ul id="menu-quick-links-menu" class="menu">
			<li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="http://www.lonestarfunds.com/privacy-policy/">Privacy Policy</a></li>
			<li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="http://www.lonestarfunds.com/terms-of-use/">Terms of Use</a></li>
			<li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="http://www.lonestarfunds.com/contact-us/">Contact Info</a></li>
		</ul>
		</nav>
		<div class="copyright">
		 ©2012–2014, Lone Star Funds, All rights reserved.
	</div>
	</div>
	
	</footer>
</div>
  </body>
</html>